#ima1 {margin-left: 25%;
}
footer {margin-right: 45%;
background-color: rgb(118, 78, 155);
}
.h1 {
    font-family: "Crismon Text", serif;
font-weight: 300;
font-style: italic;
}
.h2 .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .h2 {background-color: black;
}
  